<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/9171275aa1.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <h2 class="heading"> <u>California Cafe's</u> <i class="fas fa-coffee icon"></i></h2>

    <hr>

    <section id="records">
      
        <h3 class="heading"><em><u>Cafes details</u></em></h3>
    
        <div class="row">
            <table class="details_page">
            <thead>
                <tr>
                    <th class="col_details">name</th>
                    <th>value</th>
                </tr>
                <tr>
                    <th class="col_details">street_no</th>
                    <th>value</th>
                </tr>
                <tr>
                    <th class="col_details">locality</th>
                    <th>value</th>
                </tr>
                <tr>
                    <th class="col_details">postal_code</th>
                    <th>value</th>
                </tr>
                <tr>
                    <th class="col_details">lat</th>
                    <th>value</th>
                </tr>
                <tr>
                    <th class="col_details">long</th>
                    <th>value</th>
                </tr>
            </thead>
       
               </table>
          
            </div>
      
      </section>

     
</body>
</html>